.bg-light {
    background-color: #FFF4E6;
}

.display-flex{
    display: flex;
}

.navbar {
    justify-content: space-between;

}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-links{
    text-decoration: none;
}

.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner img{
    width: 100%;
}